3rd/libiec61850
bin
# lib
apps
*.tar
.cache
.log
.ccls-cache
.ccls-root
compile_commands.json
.ccls-*
*.gz
*.bz2
build
!scripts/build
cMakeCache.txt
CMakeFiles
*.a
*.so
main
*.ko
*.order
*.symvers
*.mod.c
*.cmd
.tmp_versions
*.o
!/src/cmake/lib/*/*.so
!lib/*/*.so
*.cgi
*.fcgi
org-html-themes
output
# 3rd/fcgi
./bin/core
data
!src/*/data
.aider*
.env
changelog.pdf
version
*.4
main_elf
.agent-shell
