.svn
*.o
*.so
*.d
*.so.*
.ccls*
*-Ecomm
*-Release
.install
rhzdRelease
.cache
compile_commands.json
.aider.*
output
.aider*
src/Web/package
src/keymonitor/keymonitor
src/ntpclient/ntpclient
/.agent-shell/
